<!-- Validation failure messages -->
<% if @loan.present? %>
  <% if @loan.errors.any? %>
    <% @loan.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Search for Equipment
</h1>

<hr>

<form action="/create_loan" method="post">
  <!-- Label and input for equipment_id -->
  <div class="form-group">
    <label for="equipment_id">
      What sport are you trying to play?
    </label>

   <%= select_tag("categories_id", options_from_collection_for_select(Category.all, :id, :name, @loan.try(:categories_id)), :class => "form-control") %>
  </div>

 <div class="form-group">
    <label for="equipment_id">
      What kind of equipment are you looking for?
    </label>

    <input type="text" id="equipment_id" name="equipment_id" class="form-control" value="<%= @loan.try(:equipment_id) %>">
  </div>
  
  <!-- Label and input for borrower_id -->

    <input type="hidden" id="borrower_id" name="borrower_id" class="form-control" value="<%= current_user %>">


  <!-- Label and input for owner_id -->
  <div class="form-group">
    <label for="distance">
      How far are you willing to travel for this equipment?
    </label>
    <select id="user_id" name="user_id">
  <option value="1">0.1 Miles</option>
  <option value="2">0.2 Miles</option>
  <option value="3">0.3 Miles</option>
  <option value="4">0.4 Miles</option>
  <option value="5">0.5 Miles</option>
  <option value="6">0.75 Miles</option>
  <option value="6">1 Mile</option>
  <option value="5">2 Miles</option>
  <option value="6">5 Miles</option>
  <option value="6">10 Miles</option>
</select>
     </div>


  <!-- Label and input for address -->
  <div class="form-group">
    <label for="address">
      from
    </label>
<%= select_tag("address", options_from_collection_for_select(User.all, :id, :address, @loan.try(:address)), :class => "form-control") %>
or   <textarea id="description" name="description" placeholder= "Add a new address first" class="form-control" rows="3"></textarea>
  </div>


  <!-- Label and input for start_time -->
  <div class="form-group">
    <label for="start_time">
     When do you want to pick up this equipment?
    </label>
     <div class="input-group date datetimepicker" data-target-input="nearest">
     <input type="text" id="start_time" name="start_time" class="form-control datetimepicker-input" data-target="#start_time" data-toggle="datetimepicker"/>
     <span class="glyphicon glyphicon-calendar"></span>
      <div class="input-group-text"><i class="fa fa-calendar"></i>
         </div>
      </div>
   
  </div>

  <!-- Label and input for end_time -->
  <div class="form-group">
    <label for="end_time">
     When will you return this equipment?
    </label>
<div class="input-group">
              <input type="text" class="form-control" id="end_time" name="end_time" value="01/20/2021 11:30 AM">
              <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
            </div>
          </div>

  <!-- Label and input for pickupdropoff_location -->

Calendar Test
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    defaultDate: "11/1/2013",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                });
            });
        </script>
    </div>
</div>

  <button class="btn btn-block btn-outline-secondary">
    Create loan
  </button>
</form>

<hr>

<a href="/loans">
  Go back
</a>
